        #h1yi {
            font-family: 'Pacifico', cursive;
            font-weight: bold;
            color: #F08080;
        }
        
        #h3mail {
            font-family: 'Poiret One', cursive;
            font-weight: normal;
            color: #F08080;
        }
        
        #h4address {
            font-family: 'Poiret One', cursive;
            font-weight: normal;
            color: #F08080;
        }
        
        #h2edu {
            font-family: 'Indie Flower', cursive;
            font-weight: normal;
            color: #D87093;
        }
        
        #divedu {
            font-family: Helvetica;
            font-weight: normal;
            color: #888888
        }
        
        #h2award {
            font-family: 'Indie Flower', cursive;
            font-weight: normal;
            color: #D87093;
        }
        
        #divaward {
            font-family: Helvetica;
            font-weight: normal;
            color: #888888
        }
        
        #h2skill {
            font-family: 'Indie Flower', cursive;
            font-weight: normal;
            color: #D87093;
        }
        
        #divskill {
            font-family: Helvetica;
            font-weight: normal;
            color: #888888
        }
        
        #h2workex {
            font-family: 'Indie Flower', cursive;
            font-weight: normal;
            color: #D87093;
        }
        
        #divworkex {
            font-family: Helvetica;
            font-weight: normal;
            color: #888888
        }
        
        #h2act {
            font-family: 'Indie Flower', cursive;
            font-weight: normal;
            color: #D87093;
        }
        
        #divact {
            font-family: Helvetica;
            font-weight: normal;
            color: #888888
        }
